.news-details p,h1,h2,h3,h4,h5,h6,a {
    font-family: 'Lusitana', sans-serif ;
}

.news-details h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

.news-details a {
    text-decoration: underline;
    color: black;
}

@media screen and (min-width: 768px) {
  .news-details {
    margin: 0 auto;
    max-width: 80%;
  }

  .news-details-cover {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }
}
