.home-cover {
    display: none;
}

.home-container {
    width: 90%;
    margin: 20px auto;
}

@media screen and (min-width: 768px) {
    .home-container {
        width: 60%;
    }    

    .home-cover {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 40vh;
        object-position: 10% 40%;
    }    
}